<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Email Contents</title>
	<script type='text/javascript'>
		//var data1=<%= data.email %>;
		//console.log(data);
		//var json=JSON.parse(response.body.replace(/\\/g,' '));
		
	</script>
</head>
<body>
	<h1>Email Details</h1>


</body>
</html>